<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
</head>
<body>
<form method="post" th:action="@{/books/editBook/} + ${book.id}" th:object="${book}">
    Tytuł: <input type="text" th:field="*{title}" required>
    Autor: <input type="text" th:field="*{author}" required>
    Isbn: <input type="text" th:field="*{isbn}" required>
    Cena: <input type="text" th:field="*{price}" required>
    <input type="submit" value="Edytuj">
</form>
</body>
</html>
