<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witaj w bibliotece!</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>

    <h1>Witaj w bibiotece!</h1>
    <h2>Oto dostępne ksiązki</h2>
<div th:if="${books.size()==0}">
    Brak w tej chwili książek do wypożyczenia!
</div>
    <table th:if="${books.size()>0}">
        <tr>
            <td>Tytuł</td>
            <td>Autor</td>
            <td>isbn</td>
            <td>cena
                <form method="post" th:action="@{/changeCurrency}" th:object="${currency}" >
                    <select th:if="${mid==1}" th:field="*{currencyCode}">
                        <option value="PLN">Złotówki</option>
                        <option value="EUR">Euro</option>
                    </select>
                    <select th:unless="${mid==1}" th:field="*{currencyCode}">
                        <option value="EUR">Euro</option>
                        <option value="PLN">Złotówki</option>
                    </select>
                    <input type="submit" value="Ok">
                </form></td>
        </tr>
        <tr th:each="book : ${books}" >
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${#numbers.formatDecimal((book.price / mid), 0, 2)}"></td>
            <td sec:authorize="hasRole('USER')">
                <button><a th:href="@{/users/} + ${book.getId()}">Wypożycz</a></button>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <button><a th:href="@{/books/removeBook/} + ${book.id}">Usuń</a></button>
                <button><a th:href="@{/books/editBook/} + ${book.id}">Edytuj</a></button>
            </td>
        </tr>
    </table>
<div sec:authorize="hasRole('USER')">
    <button><a th:href="@{/books/userBooks}">Zobacz swoje wypożyczenia</a></button>
</div>

<td sec:authorize="hasRole('ADMIN')">
    <button><a th:href="@{/users}">Zobacz użytkowników</a></button>
</td>


<div th:replace="fragments/admin :: addBook"/>
<a th:href="@{/nbp}">Nbp</a>
</body>
</html>
